@import "tailwindcss";

:root {
  --color-background: #f7faf8;
  --color-text: #23272a;
  --color-accentcolor: #27c46a;
  --color-accenthover: #17643e;
  --color-lightbackground: #e8f6ef;
  --color-extradetails: #13202c;
  --font-poppins: Poppins;
}

/* [var(--color-background)]  */
/* [var(--color-text)]  */
/* [var(--color-accentcolor)] */
/* [var(--color-accenthover)] */
/* [var(--color-lightbackground)] */
/* [var(--color-extradetails)]  */

.dark {
  --color-background: #181c1b;
  --color-text: #f1f3f2;
  --color-accentcolor: #27c46a;
  --color-accenthover: #3be088;
  --color-lightbackground: #22302d;
  --color-extradetails: #b8c4bb;
}

/* styles/globals.css */
.clip-diamond {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-poppins), sans-serif;
}
